@import url("http://fonts.googleapis.com/css?family=Gruppo|Megrim");

html {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
body {
  background-color: #ffffff;
  color: #808080;
  font-family: 'Megrim', cursive;
  font-size: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 100%;
    line-height: 1.8;
  }
}
body.home-page {
  overflow-y: hidden;
}
li {
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  li {
    line-height: 1.8;
  }
}
a,
a:link,
a:visited {
  color: #9a9a9a;
  outline: none;
  text-decoration: underline;
}
a {
  line-height: 1.5;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 768px) {
  a {
    line-height: 1.8;
  }
}
a:hover,
a:focus {
  color: #4d4d4d;
  outline: none;
  text-decoration: underline;
}
p {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1em;
}
@media only screen and (min-width: 768px) {
  p {
    line-height: 1.8;
  }
}
img,
figure {
  display: block;
  margin: 0 1em 0.5em;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
hr {
  border-bottom: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.6);
  margin: 1em 0;
  opacity: .6;
}

#site-wrapper {
  padding-left: 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 768px) {
  #site-wrapper {
    padding-left: 0;
  }
}

#page-content-wrapper {
  padding: 15px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #page-content-wrapper {
    padding: 20px;
  }
}

#page-content-wrapper.home {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
#page-content-wrapper.home .inner {
  bottom: 5px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
@media only screen and (min-width: 768px) {
  #page-content-wrapper.home .inner {
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 20px;
  }
}
#page-content-wrapper.home .inner .image {
  background-attachment: fixed;
  background-color: #191919;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#page-content-wrapper.home .inner .overlay {
  bottom: 0;
  left: 0;
  padding-top: 0 !important;
  position: absolute !important;
  right: 0;
  top: 0;
  background-color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0.6));
  background: -moz-linear-gradient(top, #000000, rgba(0, 0, 0, 0.6));
  background: -ms-linear-gradient(top, #000000, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(top, #000000, rgba(0, 0, 0, 0.6));
}

.bordered {
  border: 1px solid rgba(204, 204, 204, 0.6);
}
.outlined {
  outline: 1px solid rgba(204, 204, 204, 0.6);
}
.bordered-round {
  border: 1px solid rgba(204, 204, 204, 0.6);
  -moz-border-radius: 50%;
  /*Firefox*/
  -webkit-border-radius: 50%;
  /*Safari, Chrome*/
  border-radius: 50%;
}
span.no-break {
  white-space: nowrap;
}
.push {
  margin-bottom: 1em;
}
.push-none,
.push-0 {
  margin-bottom: 0;
}
.push-half {
  margin-bottom: 0.5em;
}
.push-double {
  margin-bottom: 2em;
}
.push-right {
  margin-right: 1em;
}
.push-left {
  margin-left: 1em;
}
.push-top {
  margin-top: 1em;
}
.pad-top {
  padding-top: 1em;
}
.pad-top-none {
  padding-top: 0;
}
.pad-top-half {
  padding-top: 0.5em;
}
.pad-top-double {
  padding-top: 2em;
}
.pad-bottom {
  padding-bottom: 1em;
}
.pad-bottom-none {
  padding-bottom: 0;
}
.pad-bottom-half {
  padding-bottom: 0.5em;
}
.pad-bottom-double {
  padding-bottom: 2em;
}
.pad-right {
  padding-right: 1em;
}
.pad-left {
  padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Megrim', cursive;
  margin: 0.5em 0 0.5em;
  text-transform: uppercase;
}
h1,
h2,
h3 {
  font-family: 'Megrim', cursive;
  font-weight: 400;
}
h4,
h5,
h6 {
  color: #4d4d4d;
  font-weight: 400;
  opacity: 1;
}
h1 {
  color: #956868;
  font-size: 2.25em;
  opacity: .6;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.22em;
  }
}
h2 {
  color: #956868;
  font-size: 5em;
  opacity: .8;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 5em;
  }
}
.name-title {
  color: #956868;
  font-size: .3em;
  opacity: .8;
}
@media only screen and (min-width: 768px) {
.name-title {
    font-size: .3em;
  }
}
h3 {
  color: #956868;
  font-size: 1.75em;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.78em;
  }
}
h4 {
  font-size: 1.63em;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.56em;
  }
}
h5 {
  font-size: 1.38em;
}
@media only screen and (min-width: 768px) {
  h5 {
    font-size: 1.33em;
  }
}
h6 {
  font-size: 1.13em;
}
@media only screen and (min-width: 768px) {
  h6 {
    font-size: 1.11em;
  }
}
h1 small,
.h1 small,
h1 .small,
.h1 .small {
  color: #b59595;
}
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #bfa4a4;
}
.page-header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.6);
  margin: 0 auto 0.5em;
  padding-bottom: 0.5em;
}
.page-header span {
  font-family: 'Megrim', cursive;
}
.page-header span span.name-title {
  font-family: 'Gruppo', cursive;
}
.centered-header {
  margin: 0 auto 0.5em;
  text-align: center;
  width: 100%;
}
blockquote {
  border-left: 5px solid rgba(204, 204, 204, 0.6);
  color: #4d4d4d;
  font-size: 1.13em;
  margin: 0 0 1em;
  padding: 0.25em;
}
@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 1.11em;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  blockquote {
    max-width: 80%;
  }
}
@media only screen and (min-width: 1201px) {
  blockquote {
    max-width: 60%;
  }
}
blockquote footer,
blockquote small,
blockquote .small {
  color: #999999;
  display: block;
  font-size: 80%;
  line-height: 0.1875;
}
@media only screen and (min-width: 768px) {
  blockquote footer,
  blockquote small,
  blockquote .small {
    line-height: 0.225;
  }
}
p.lead {
  color: #4d4d4d;
  font-size: 1.4em;
  line-height: 1.5;
  margin-bottom: 1em;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  p.lead {
    font-size: 1.2em;
    line-height: 1.8;
  }
}
.shorter-paragraph {
  max-width: 80%;
}

.btn,
a.btn,
.btn-default,
a.btn-default {
  background-color: transparent;
  border: 1px solid rgba(204, 204, 204, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  -moz-border-radius: 2px;
  /*Firefox*/
  -webkit-border-radius: 2px;
  /*Safari, Chrome*/
  border-radius: 2px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-default.light {
  color: #e5e5e5;
}
.btn-default.light:hover,
.btn-default.light:focus {
  background-color: #191919;
  box-shadow: none;
  color: #ffffff;
}
.btn-default.dark {
  color: #4d4d4d;
}
.btn-default.dark:hover,
.btn-default.dark:focus {
  background-color: #ffffff;
  color: #191919;
}
/* Tables */
table,
.table {
  margin-bottom: 1em;
}
.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(204, 204, 204, 0.6);
  color: #4d4d4d;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #cccccc;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(204, 204, 204, 0.6);
  color: #4d4d4d;
}

#gallery .img-container,
#albums .img-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 30px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#gallery .img-container {
  position: relative;
}
#gallery .img-container:hover,
#gallery .img-container:focus,
#albums .img-container:hover,
#albums .img-container:focus {
  opacity: .5;
}
#gallery .title-container {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 30px;
  font-size: 10px;
  left: 15px;
  opacity: 0;
  position: absolute;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#gallery .title-container h3 {
  color: #ffffff;
  opacity: 1;
  padding: 0 0.125em 0;
}
#gallery article:hover .title-container {
  opacity: 1;
}

/* Lightbox plugin modifications */
.blueimp-gallery {
  background: #ffffff;
}
.blueimp-gallery > .slides > .slide > .slide-content {
  max-height: 80%;
  max-width: 80%;
}
.blueimp-gallery > .slides > .slide-loading {
  background: url("../lightbox-icons/preloader.gif") center no-repeat;
  background-size: 32px 32px;
}
.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  background: rgba(0, 0, 0, 0.8);
  text-shadow: none;
}
.blueimp-gallery > .prev:hover,
.blueimp-gallery > .next:hover {
  background-color: #191919;
}
body:last-child .blueimp-gallery > .play-pause {
  background-color: transparent;
  background-image: url("../lightbox-icons/play-pause.svg");
  padding: 1em 0 0;
  opacity: 1;
}
.blueimp-gallery > .close {
  color: #4d4d4d;
  text-shadow: none;
}
.blueimp-gallery > .close:hover {
  color: #191919;
}
.blueimp-gallery > .title {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 0.5em;
  text-shadow: none;
  z-index: 999;
}
.blueimp-gallery > .title:hover {
  background-color: #191919;
}
.blueimp-gallery > .indicator {
  bottom: 20%;
}
@media only screen and (min-width: 768px) {
  .blueimp-gallery > .indicator {
    bottom: 4%;
  }
}
.blueimp-gallery > .indicator > li {
  background: #191919;
  border: 1px solid #4d4d4d;
  box-shadow: none;
  opacity: 1;
}
.blueimp-gallery > .indicator > li:hover,
.blueimp-gallery > .indicator > .active {
  background-color: #ffffff;
  border-color: #191919;
}

.tabBorder{
  border: 1px solid #ddd;
}
